doctype html
html
    head
        title Confirm Your Account
    body
        h2 Hello #{name},
        p Please confirm your account by clicking the link below:
        a(href=confirmLink target="_blank") Confirm Account
        p If you did not create an account, please ignore this email.
