doctype html
html
  head
    title Password Reset Request
  body
    h2 Hello #{name},
    p You requested to reset your password.
    p Click the link below to continue:
    a(href=resetLink target="_blank") Reset Password
    p This link expires in 15 minutes.
